/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url("images/sidney.jpg");
  background-size: cover;
  background-position: center;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 /* Vertically center the text there */
  background: rgba(255, 255, 255, 0.40);
  height: 120px;
}


/**
Media queries
*/



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.main-container {
      /* padding: 10px 15px 0; */
      margin-left: 55px !important;
      width: 50%;
      background: rgba(255, 255, 255, 0.8);
      position: absolute;
      bottom: 120px;
      top: 69px;
      min-width:400px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}



@media (max-width: 764px ){
  .main-container{
    width: 100% !important;
    margin:0px !important;
  }

  .socialicons #scicon{
    width:30px !important;
    height:30px !important;
  }

  .socialicons {
    margin-top: 15px !important;
    margin-left: 0px !important;
  }

  .signup {
    float: left !important;
    margin-top: 10px !important;
    margin-left: 25px !important;
  }
  .socialicons #scicon img{
    width:20px;
  }

  .privacy span {
    margin-left: 25px !important;
    font-size: 10px !important;
  } 

  .privacy{
    left: 0 !important;
  }

  .playprev {
    margin-left: 132px !important;
    margin-top: 121px !important;
  }
	
.btnplay {
    margin-top: 118px !important;
    margin-left: 100px !important;
}

.row{
  height:190 !important;
}

.headerDropDown {
  margin-top: 89px !important;
  margin-left: 0px !important;
}

.headerDropDown select{
  width:225px !important;s
}

}

@media (min-width: 765px) and (max-width:938px){
  .main-container{
    width: 90% !important;
  }
}

code {
  font-size: 80%;
}

#navbarCollapse ul li{
  color: rgb(52, 179, 115);
  font-size: 20px;
  padding: 0 20px;
  line-height: 2.5;
  border-bottom: 3px solid transparent;
}

#navbarCollapse ul li a{
  color: #fff !important;
}

#navbarCollapse ul li:hover{
  color: #fff !important;
  border-bottom: 3px rgba(255, 255, 255, 0.795) solid;
  background: rgba(255, 255, 255, .2);
}

#navbarCollapse .active{
  color: #fff !important;
  border-bottom: 3px rgba(255, 255, 255, 0.795) solid;
  background: rgba(255, 255, 255, .2);
}

#navbarCollapse ul li a:hover{
  color: #fff !important;
  z-index: -1;
}

.navbar{
  padding-top:0;
  padding-bottom:0;
  min-height:69px;
  position: relative;
  z-index: 2;
  padding: 0;
  background: rgba(134, 8, 141, 0.7);
}

.navBackground{
  width: 100%;
  position: absolute;
  top:0;
  height: 69px;
  z-index: 0;
  background: rgba(134, 8, 141, 0.7);
}

.logo{
  width: 200px;
  margin-left: 40px;
  position: absolute;
  z-index: 2;
  top: 22px;
  left: 15px;
  cursor: pointer;
}

.socialicons{
  margin-top:45px;
  margin-left:35px;
  display:flex;
}

.socialicons #scicon:hover{
  background: #87088D;
  cursor: pointer;
}

.socialicons #scicon{
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  align-content: center;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  color: #fff;
}

.privacy{
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 0;
  left: calc(50% - 217px);
}

.privacy span{
  margin-left:30px;
}

.signup{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  float: right;
  margin-top: -40px;
  line-height: 2;
  color:  #87088D;
  margin-right: 40px;

}

#btnSign{
  background: #87088D;
  color:white;
  padding: 7px;
  margin-top: 8.1px;
  line-height: 1.5;
  cursor: pointer;
}

#txtSign{
  width:250px;
}

#subscribe{
  position: absolute;
  margin-top: -30px;
  color: white;
  font-size: 12px;
  margin-left: 25px;
}

.btnmenu{
  margin-top: 15px;
  margin-bottom: 14px;
  margin-right:20px;
}

.store , .music, .contact, .tour, .about{
    width: 100%;
    background: #ffffff99;
    height: 80px;
}

.tour, .store, .contact, .music{
  margin-top:-80px;
}

.headContent{
  text-align: center;
  color: #87088D;
  padding-top: 15px;
  font-family: 'Amatic SC', cursive;
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Roboto', sans-serif;  
}

#cart{
  position: absolute;
  right: 25px; 
  margin-top:-40px;
  color: #87088D;
}

#cart img{
  width: 60px;
  height: 60px;
  margin-top: -20px;
  color: white;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  height: 160px;
  margin-top: 1px;
  background: #00000021;
  padding-left: 40px;
}

.row-disc{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    height: 160px;
    background: #00000021;
    padding-left: 40px;
    padding-top: 5px;
    margin-top: 1px;
}

.shirt img{
    width: 130px;
    margin-right: 10px;
    border: 1px solid white;
    padding: 5px;
    margin-top: 15px;
}

.tour-disc p{
  width: 70px;
  height: 70px;
  margin-right: 50px;
  border: 2px solid #87088D;
  border-radius: 50%;
  margin-top: 45px;
}

.disc img{
  width: 130px;
  margin-right: 10px;
  border: 1px solid white;
  padding: 5px;
  margin-top: 15px;
}

.shirtHeader{
  color: #87088D;
  margin-top:10px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.headerContent{
  display:flex;
}

.headerDropDown{
  margin-top: 10px;
  position: absolute;
  margin-left: 170px;
}

.headerDropDown select{
  width:260px;
  color:#87088D;
}

.price{
  position: absolute;
  margin-top: 30px;
  color: #800080b5;
  font-weight: bold;
  font-stretch: condensed;
  font-family: auto;
}

.shirtDescription{
  position: absolute;
  margin-top: 50px;
  font-size: 12px;
  color: #800080b5;
}


.bio{
  position: absolute;
  margin-top: 15px;
  font-size: 15px;
  color: #800080b5;
  padding: 20px;
  overflow-x: auto;
  height: 80%;
}

.addTocart{
  position: absolute;
  margin-top: 118px;
  background: #800080b5;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
  cursor:pointer;
}

.addTocart:hover{
  background:#87088D;
}

.rows{
  overflow-y: scroll;
  overflow-x: hidden;
  bottom: 1px;
  top: 79px;
  position: absolute;
  width: 100%;
}

.badge{
  margin-left: -42px;
}

.btnplay{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  content: "\25BA";
  border: 1px solid rgb(94, 94, 94);
  position: absolute;
  margin-top: 86px;
  color: white;
  cursor: pointer;
  text-align: center
}

.btnplay:before{
  color: rgb(94, 94, 94);
  content: "\25BA";
  margin-left:3px;
}

.playprev{
    margin-left: 34px;
    position: absolute;
    margin-top: 89px;
    font-size: small;
    color: #4c4c4c;
    cursor: pointer;
}

.btn-success{
  background-color:purple;
  border-color: transparent;
}

.square span {
	color: #87088D;
  font-family: 'Roboto', sans-serif;
  padding-top: 21px;
  position: absolute;
  margin-left: 10px;
}